<div>
    <h2 data-translate="coolcookApp.ingredientMaster.home.title">Ingredient Masters</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="ingredient-master-my-suffix.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="coolcookApp.ingredientMaster.home.createLabel">
                        Create new Ingredient Master
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'coolcookApp.ingredientMaster.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="coolcookApp.ingredientMaster.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="image"><span data-translate="coolcookApp.ingredientMaster.image">Image</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="unit"><span data-translate="coolcookApp.ingredientMaster.unit">Unit</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="defaultQty"><span data-translate="coolcookApp.ingredientMaster.defaultQty">Default Qty</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="catagoryId"><span data-translate="coolcookApp.ingredientMaster.catagory">Catagory</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ingredientMaster in vm.ingredientMasters track by ingredientMaster.id">
                    <td><a ui-sref="ingredient-master-my-suffix-detail({id:ingredientMaster.id})">{{ingredientMaster.id}}</a></td>
                    <td>{{ingredientMaster.name}}</td>
                    <td>
                        <a ng-if="ingredientMaster.image" ng-click="vm.openFile(ingredientMaster.imageContentType, ingredientMaster.image)" data-translate="entity.action.open">open</a>
                        <span ng-if="ingredientMaster.image">{{ingredientMaster.imageContentType}}, {{vm.byteSize(ingredientMaster.image)}}</span>
                    </td>
                    <td data-translate="{{'coolcookApp.UnitOfQuantity.' + ingredientMaster.unit}}">{{ingredientMaster.unit}}</td>
                    <td>{{ingredientMaster.defaultQty}}</td>
                    <td>
                        <a ui-sref="category-my-suffix-detail({id:ingredientMaster.catagoryId})">{{ingredientMaster.catagoryId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="ingredient-master-my-suffix-detail({id:ingredientMaster.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="ingredient-master-my-suffix.edit({id:ingredientMaster.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="ingredient-master-my-suffix.delete({id:ingredientMaster.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
