
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myIngredientAtHomeLabel" data-translate="coolcookApp.ingredientAtHome.home.createOrEditLabel">Create or edit a Ingredient At Home</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.ingredientAtHome.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.ingredientAtHome.id" readonly />
        </div>
        <div class="form-group">
            <!--            <label data-translate="coolcookApp.ingredientAtHome.ingredientQtyMap" for="field_ingredientQtyMap">Ingredient Qty Map</label>
                        <select class="form-control" id="field_ingredientQtyMap" name="ingredientQtyMap" ng-model="vm.ingredientAtHome.ingredientQtyMapId" ng-options="ingredientQtyMapping.id as ingredientQtyMapping.id for ingredientQtyMapping in vm.ingredientqtymappings"            >
                            <option value=""></option>
                        </select>-->
            <label data-translate="">Name</label>
            <input type="text" ng-model="selectedIngredient" uib-typeahead="ingredient as ingredient.name for ingredient in vm.ingredients | filter:$viewValue | limitTo:8" 
                   class="form-control">

            <label data-translate="">Quantity</label>
            <input type="number" ng-model="selectedIngredient.defaultQty" class="form-control">
            <input type="text" ng-model="selectedIngredient.unit" class="form-control">
<!--            <select class="form-control" id="field_Quantity" name="quantity" ng-model="selectedIngredient.default_qty" ng-options="ingredientQtyMapping.id as ingredientQtyMapping.id for ingredientQtyMapping in vm.ingredientqtymappings"            >
                <option value=""></option>
            </select>-->
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="coolcookApp.ingredientAtHome.createdAt" for="field_createdAt">Created At</label>
                <div class="input-group">
                    <input id="field_createdAt" type="text" class="form-control" name="createdAt" datetime-picker="{{dateformat}}" ng-model="vm.ingredientAtHome.createdAt" is-open="vm.datePickerOpenStatus.createdAt"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdAt')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="coolcookApp.ingredientAtHome.updatedAt" for="field_updatedAt">Updated At</label>
                <div class="input-group">
                    <input id="field_updatedAt" type="text" class="form-control" name="updatedAt" datetime-picker="{{dateformat}}" ng-model="vm.ingredientAtHome.updatedAt" is-open="vm.datePickerOpenStatus.updatedAt"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('updatedAt')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="coolcookApp.ingredientAtHome.expiryDate" for="field_expiryDate">Expiry Date</label>
                <div class="input-group">
                    <input id="field_expiryDate" type="text" class="form-control" name="expiryDate" datetime-picker="{{dateformat}}" ng-model="vm.ingredientAtHome.expiryDate" is-open="vm.datePickerOpenStatus.expiryDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('expiryDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="coolcookApp.ingredientAtHome.ingredientQtyMap" for="field_ingredientQtyMap">Ingredient Qty Map</label>
            <select class="form-control" id="field_ingredientQtyMap" name="ingredientQtyMap" ng-model="vm.ingredientAtHome.ingredientQtyMapId" ng-options="ingredientQtyMapping.id as ingredientQtyMapping.id for ingredientQtyMapping in vm.ingredientqtymappings"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
