<div>
    <h2 data-translate="coolcookApp.recipeMaster.home.title">Recipe Masters</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="recipe-master-my-suffix.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="coolcookApp.recipeMaster.home.createLabel">
                        Create new Recipe Master
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'coolcookApp.recipeMaster.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="coolcookApp.recipeMaster.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="desc"><span data-translate="coolcookApp.recipeMaster.desc">Desc</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="process"><span data-translate="coolcookApp.recipeMaster.process">Process</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="durationInMin"><span data-translate="coolcookApp.recipeMaster.durationInMin">Duration In Min</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="image"><span data-translate="coolcookApp.recipeMaster.image">Image</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isOriginal"><span data-translate="coolcookApp.recipeMaster.isOriginal">Is Original</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="originalRecipeId"><span data-translate="coolcookApp.recipeMaster.originalRecipeId">Original Recipe Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isVeg"><span data-translate="coolcookApp.recipeMaster.isVeg">Is Veg</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="catagoryId"><span data-translate="coolcookApp.recipeMaster.catagory">Catagory</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="recipeMaster in vm.recipeMasters track by recipeMaster.id">
                    <td><a ui-sref="recipe-master-my-suffix-detail({id:recipeMaster.id})">{{recipeMaster.id}}</a></td>
                    <td>{{recipeMaster.name}}</td>
                    <td>{{recipeMaster.desc}}</td>
                    <td>{{recipeMaster.process}}</td>
                    <td>{{recipeMaster.durationInMin}}</td>
                    <td>
                        <a ng-if="recipeMaster.image" ng-click="vm.openFile(recipeMaster.imageContentType, recipeMaster.image)" data-translate="entity.action.open">open</a>
                        <span ng-if="recipeMaster.image">{{recipeMaster.imageContentType}}, {{vm.byteSize(recipeMaster.image)}}</span>
                    </td>
                    <td>{{recipeMaster.isOriginal}}</td>
                    <td>{{recipeMaster.originalRecipeId}}</td>
                    <td>{{recipeMaster.isVeg}}</td>
                    <td>
                        <a ui-sref="category-my-suffix-detail({id:recipeMaster.catagoryId})">{{recipeMaster.catagoryId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="recipe-master-my-suffix-detail({id:recipeMaster.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="recipe-master-my-suffix.edit({id:recipeMaster.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="recipe-master-my-suffix.delete({id:recipeMaster.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
