
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRecipeMasterLabel" data-translate="coolcookApp.recipeMaster.home.createOrEditLabel">Create or edit a Recipe Master</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.recipeMaster.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.recipeMaster.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="coolcookApp.recipeMaster.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.recipeMaster.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="coolcookApp.recipeMaster.desc" for="field_desc">Desc</label>
            <input type="text" class="form-control" name="desc" id="field_desc"
                    ng-model="vm.recipeMaster.desc"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="coolcookApp.recipeMaster.process" for="field_process">Process</label>
            <input type="text" class="form-control" name="process" id="field_process"
                    ng-model="vm.recipeMaster.process"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="coolcookApp.recipeMaster.durationInMin" for="field_durationInMin">Duration In Min</label>
            <input type="number" class="form-control" name="durationInMin" id="field_durationInMin"
                    ng-model="vm.recipeMaster.durationInMin"
                    />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setImage($file, vm.recipeMaster)">
            <label class="control-label" data-translate="coolcookApp.recipeMaster.image" for="field_image">Image</label>
            <div>
                <div ng-if="vm.recipeMaster.image" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.recipeMaster.imageContentType, vm.recipeMaster.image)" data-translate="entity.action.open">open</a><br>
                    <span class="pull-left">{{vm.recipeMaster.imageContentType}}, {{vm.byteSize(vm.recipeMaster.image)}}</span>
                    <button type="button" ng-click="vm.recipeMaster.image=null;vm.recipeMaster.imageContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setImage($file, vm.recipeMaster)" data-translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                    ng-model="vm.recipeMaster.image"
                    />
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                    ng-model="vm.recipeMaster.imageContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="coolcookApp.recipeMaster.isOriginal" for="field_isOriginal">Is Original</label>
                <input type="checkbox" name="isOriginal" id="field_isOriginal"
                          ng-model="vm.recipeMaster.isOriginal"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="coolcookApp.recipeMaster.originalRecipeId" for="field_originalRecipeId">Original Recipe Id</label>
            <input type="number" class="form-control" name="originalRecipeId" id="field_originalRecipeId"
                    ng-model="vm.recipeMaster.originalRecipeId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="coolcookApp.recipeMaster.isVeg" for="field_isVeg">Is Veg</label>
                <input type="checkbox" name="isVeg" id="field_isVeg"
                          ng-model="vm.recipeMaster.isVeg"/>
        </div>

        <div class="form-group">
            <label data-translate="coolcookApp.recipeMaster.catagory" for="field_catagory">Catagory</label>
            <select class="form-control" id="field_catagory" name="catagory" ng-model="vm.recipeMaster.catagoryId" ng-options="category.id as category.id for category in vm.categories"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="coolcookApp.recipeMaster.ingredientQtyMap" for="field_ingredientQtyMap">Ingredient Qty Map</label>
            <select class="form-control" id="field_ingredientQtyMap" multiple name="ingredientQtyMap" ng-model="vm.recipeMaster.ingredientQtyMaps" ng-options="ingredientQtyMapping as ingredientQtyMapping.id for ingredientQtyMapping in vm.ingredientqtymappings track by ingredientQtyMapping.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
