
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myQuantityLabel" data-translate="coolcookApp.quantity.home.createOrEditLabel">Create or edit a Quantity</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.quantity.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.quantity.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="coolcookApp.quantity.qty" for="field_qty">Qty</label>
            <input type="number" class="form-control" name="qty" id="field_qty"
                    ng-model="vm.quantity.qty"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="coolcookApp.quantity.unit" for="field_unit">Unit</label>
            <select class="form-control" name="unit" ng-model="vm.quantity.unit" id="field_unit">
                <option value="KILOGRAM" data-translate="coolcookApp.UnitOfQuantity.KILOGRAM">KILOGRAM</option>
                <option value="GRAM" data-translate="coolcookApp.UnitOfQuantity.GRAM">GRAM</option>
                <option value="LITRE" data-translate="coolcookApp.UnitOfQuantity.LITRE">LITRE</option>
                <option value="CUP" data-translate="coolcookApp.UnitOfQuantity.CUP">CUP</option>
                <option value="TEA_SPOON" data-translate="coolcookApp.UnitOfQuantity.TEA_SPOON">TEA_SPOON</option>
                <option value="TABLE_SPOON" data-translate="coolcookApp.UnitOfQuantity.TABLE_SPOON">TABLE_SPOON</option>
                <option value="PIECE" data-translate="coolcookApp.UnitOfQuantity.PIECE">PIECE</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
